* {
    box-sizing: border-box;
    padding: 23px;
    margin: 0
}

.naggets {
    width: 250px;
    height: 100px;
    font-size: 250px;
    color: brown;
}

.chicken {
     width: 250px;
    height: 100px;
    font-size: 250px;
    color: brown;
    margin-top: 130px;
}