body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.overallBlock {  
    box-sizing: border-box;
    width: 300px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.331);
    border-radius: 10px;
    flex-direction: column;
    gap: 5px;
}

#writeDeal {
    border-radius: 5px;
}

#writeDeal:focus {
    transform: scale(1.1);
}

.newDeal {
    display: flex;
    flex-direction: column;
    
    
}

.element {
   display: flex;
   justify-content: space-between;
   max-width: 450px;
    border-radius: 7px;
    padding: 5px;
    margin-top: 15px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.418);
    background-color: white;
    
}

.btn-group {
    
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 3px;
}

.edit-btn {
    background-color: rgb(8, 246, 8);
    border-radius: 5px;
}

.btn-del {
    background-color: rgb(245, 23, 23);
    border-radius: 5px;
}

.text-span {
    width: 300px;
    word-wrap: break-word;
    
}

