.container {
    display: flex;
    justify-content: space-around;
    
}

.class1 {
width: 40px;
height: 40px;
border: 2px solid red;
}

.class2 {
width: 40px;
height: 40px;
border: 2px solid blue;
user-select: none;
}

.class3 {
    width: 40px;
height: 40px;
border: 2px solid green;
}


.block {
    max-width: 500px;
    width: 100px;
    height: 100px;
    background-color: red;
    
}

.block-2 {
    width: 300px;
    height: 150px;
}

.foto img {
    width: 300px;
    height: 350px;
}