body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(6, 0, 0);
    color: rgb(255, 255, 255);
   
}  

h1 {
    display: flex;
    justify-content: center;
}

.all {
     display: flex;
     align-items: center;
     justify-content: center;
}

.inpDeal {
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    box-shadow: 0 0 10px 10px rgba(253, 246, 246, 0.212);
    border-radius: 8px;
}

.inpDeal input {
    border-radius: 5px;
    width: 250px;
    transition: transform 0.5s ease;
    background-color: rgba(232, 226, 226, 0.704);
    border: none;
    box-shadow: 0 0 7px 7px rgba(0, 0, 7, 0.538);
    color: rgb(10, 0, 0);
}

.inpDeal input:focus {
    text-transform: unset;
    box-shadow: 0 0 7px 7px rgba(0, 0, 255, 0.538);
    font-size: 20px;
    transform: scale(1.2)
}

.inpDeal button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(0, 170, 255, 0.663);
}

.inpDeal button:active {
    box-shadow: 0 0 7px 7px blue;
}

.items {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 150px;
    flex-wrap: wrap;
    align-items: center;
}


.item {
    display:flex;
    justify-content: space-between;
    width: 700px;
    background-color: rgba(3, 61, 206, 0.412);
    color: black;
    transition: 0.5s ease;
    grid-template-rows: 2;
    border-radius: 5px;
    overflow: hidden;
    padding: 3px;
    
}

.item:hover{
    transform: scale(1.6);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(53, 112, 251);
    padding: 3px;
    overflow-wrap: break-word;
    padding: 5px;
}

.text {
   width: 400px;
   word-wrap: break-word;
   
}

.del {
    font-size: 8px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(255, 132, 0), red);
    margin-left: 580px;
    position: absolute;
}

.edit {
    background: linear-gradient(to right, rgb(208, 255, 0), green);
    font-size: 8px;
    border-radius: 10px;
    margin-left: 550px;
    position: absolute;
    
    
}



@media screen and (max-width: 1024px) {
body{
    overflow: hidden;
}

.item{
    width: 80%;
}

.item:hover{
    width: 50%;
    transform: scale(1.7, 4);
}

.del {
    width: 2px;
    height: 2px;
}

}